name: Run Golden Era Bot

on:
  schedule:
    # Runs at 13:00 UTC every Friday (which is 9:00 AM EST)
    - cron: '0 13 * * 5'
  workflow_dispatch: # Allows you to run it manually to test

jobs:
  run-playlist-generator:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Libraries
        run: pip install -r requirements.txt

      - name: Run Bot
        env:
          SPOTIPY_CLIENT_ID: ${{ secrets.SPOTIPY_CLIENT_ID }}
          SPOTIPY_CLIENT_SECRET: ${{ secrets.SPOTIPY_CLIENT_SECRET }}
          SPOTIPY_REDIRECT_URI: ${{ secrets.SPOTIPY_REDIRECT_URI }}
          SPOTIPY_CACHE_DATA: ${{ secrets.SPOTIPY_CACHE_DATA }}
        run: python genrebot3.py
