name: Run Music Bot

on:
  schedule:
    # Runs at 14:00 UTC every Friday (9:00 AM EST)
    - cron: '0 14 * * 5'
  workflow_dispatch: # Allows you to click a "Run Now" button to test it

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Bot
        env:
          SPOTIPY_CLIENT_ID: ${{ secrets.SPOTIPY_CLIENT_ID }}
          SPOTIPY_CLIENT_SECRET: ${{ secrets.SPOTIPY_CLIENT_SECRET }}
          SPOTIPY_REDIRECT_URI: ${{ secrets.SPOTIPY_REDIRECT_URI }}
          SPOTIPY_CACHE_DATA: ${{ secrets.SPOTIPY_CACHE_DATA }}
        run: python pms_genre.py
